<section class="auth d-flex">
  <div class="auth-left bg-main-50 flex-center p-24">
    <img src="assets/images/logo/logo2.png" alt="" />
  </div>
  <div class="auth-right py-40 px-24 flex-center flex-column">
    <div class="auth-right__inner mx-auto w-100">
      <div class="text-center">
        <h2 class="mb-8">Mot de passe oublié</h2>
      </div>
      <div class="text-center">
        <p class="text-gray-600 text-15 mb-32">
          Mot de passe oublié ? Veuillez saisir votre adresse e-mail. Vous
          recevrez un lien pour créer un nouveau mot de passe par e-mail.
        </p>
      </div>

      <form action="#">
        <div class="mb-24">
          <label for="email" class="form-label mb-8 h6">Email </label>
          <div class="position-relative">
            <input
              type="email"
              class="form-control py-11 ps-40"
              id="email"
              placeholder="Saisir le mot de passe"
            />
            <span
              class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"
              ><i class="ph ph-envelope"></i
            ></span>
          </div>
        </div>
        <div class="text-center">
          <p-button
            class="w-100"
            label="Envoyer"
            icon="fas fa-arrow-right"
            iconPos="right"
            (click)="send()"
          />
        </div>
        <a
          routerLink="/login"
          class="my-32 text-main-600 flex-align gap-8 justify-content-center"
        >
          <i class="ph ph-arrow-left d-flex"></i>Retour à la connexion</a
        >
      </form>
    </div>
  </div>
</section>
<app-loading [loadingMessage]="'Traitement en cours'"></app-loading>
